@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-family: 'Caveat Brush', cursive;

}

h1 {

    font-size: 300%;
}

h2 {

    font-size: 200%;
}


navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;

}

/* linkuri starea cind dau cu mause */
navbar a:hover {
    color: #2d5f90;
    text-decoration: underline 1px;
}

navbar {

    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
    overflow: auto;

}


header {
    background: #94c2f1;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 15px 5px 15px;

    /* min-height: 20px; */
    text-align: center;

}

main {
    min-height: 100vh;
}

footer {
    min-height: 40px;
    background: #94c2f1;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding: 10px 15px 5px 15px;
}


p {
    line-height: 159%;
    text-indent: 30px;
    text-align: justify;
}

ul li {
    margin-top: 10px;
    padding-left: 15px;
    list-style-image: linear-gradient(green, rgb(255, 247, 0));
}

ol li {
    margin-top: 10px;
    padding-left: 15px;

}



section {
    /* padding-top: 90px; */
    padding: 90px 15%;
}


.logo {
    height: 50px;
    /* border: solid 0.5px gray; */
    padding-top: 5px;

}

#index {
    background: linear-gradient(#3fa5dccf, #7cc59887), url('../images/primaria balti2.jpg');
    min-height: 100vh;
    background-size: cover;
}

.index-info {

    margin-top: 30vh;
    text-align: center;
}

.index-info h1 {
    font-size: 350%;
    color: rgb(255, 255, 255);
    border: 2px solid rgba(8, 0, 0, 0.247);
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    background-color: #94c2f197;
}

.link-index {
    color: white;
    text-decoration: underline greenyellow 2px;
    font-size: 18px;
}

.link-index:hover {
    color: greenyellow;
}

.centered {
    text-align: center;
}

.vframe {
    width: 100%;
    height: 30vw;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.panorama-link:hover {
    color: rgb(240, 5, 5);
}

.loc {
    overflow: auto;
    border-bottom: 4px #94c2f169 dotted;
    margin-bottom: 15px;
}

.loc img {
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.harta {
    width: 100%;
    height: 40vh;
    border-radius: 5px;
}

.row {
    overflow: auto;
}

.col-50 {
    width: 50%;
    float: left;
    padding: 0px 10px;
}

.contacte,
.cform {
    border: 2px solid #94c2f169;
    border-radius: 5px;
    background-color: #94c2f13f;
    padding: 5px 5%;
    height: 340px;
    margin-bottom: 15px;

}

.cform input,
.cform textarea {
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    margin-bottom: 10px;
    padding: 4px 6px;
}

#hamburger {
    color: white;
    font-size: 28px;
    position: absolute;
    right: 22px;
    top: 24px;
    cursor: pointer;
    display: none;
}

/*media trebuie sa fie la sfirsitul fisierului*/
@media (max-width: 800px) {
    body {
        font-size: 14px;
    }
    
    
    selection {
        padding: 90px 10px;
    }

    .index-info h1 {
        font-size: 270;
    }

    .vframe {
        height: 55vw;
    }

[class^="col-"] {
    width: 100%; !important
}

    navbar a {
        display: none;
    }

    navbar.mobile a {
        display: block;
        text-align: center;
        margin-top: 12px;
    }

    navbar {
        display: block;
    }

    #hamburger {
        display: block;

    }
}